<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>收集表单数据</title>
    <!-- 引入vue https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js -->
    <script src="./js/vue.js"></script>
</head>
<body>

    <!-- 准备好容器 -->
    <div id="root">
        <form>
            <label>
                账号：<input type="text" v-model="account">
            </label> <br>
            <label>
                密码：<input type="password" v-model="password">
            </label> <br>
            <label>
                性别：
                <input name="sex" type="radio" v-model="sex" value="男"> 男
                <input name="sex" type="radio" v-model="sex" value="女"> 女
            </label> <br>
            <label>
                爱好：
                <input type="checkbox" v-model="hobby" value="抽烟"> 抽烟
                <input type="checkbox" v-model="hobby" value="喝酒"> 喝酒
                <input type="checkbox" v-model="hobby" value="烫头"> 烫头
            </label> <br>
            <label>
                所属地区：
                <select id="" name="">
                    <option>请选择地区</option>
                    <option value="北京">北京</option>
                    <option value="上海">上海</option>
                    <option value="江苏">江苏</option>
                </select>
            </label> <br>
            <label>
                其他信息：<textarea></textarea>
            </label> <br>
            <label>
                <input type="checkbox"> 阅读并接收 <a href="#">《用户协议》</a>
            </label> <br>
            <button>注册</button>
        </form>
    </div>

    <script>
        /* 阻止 Vue 在启动时生成生产提示 */
        Vue.config.productionTip = false;

        // 创建 Vue 实例
        const vm = new Vue({
            el: '#root',
            data: {
                account: '',
                password: '',
                sex: '',
                hobby: []
            }
        });
        console.log(vm);
    </script>
</body>
</html>