<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>收集表单数据</title>
    <!-- 引入vue https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js -->
    <script src="./js/vue.js"></script>
</head>
<body>

    <!-- 准备好容器 -->
    <div id="root">
        <form @submit.prevent="register">
            <label>
                账号：<input type="text" v-model.trim="userInfo.account">
            </label> <br>
            <label>
                密码：<input type="password" v-model="userInfo.password">
            </label> <br>
            <label>
                年龄：<input type="number" v-model.number="userInfo.age">
            </label> <br>
            <label>
                性别：
                <input name="sex" type="radio" v-model="userInfo.sex" value="男"> 男
                <input name="sex" type="radio" v-model="userInfo.sex" value="女"> 女
            </label> <br>
            <label>
                爱好：
                <input type="checkbox" v-model="userInfo.hobby" value="抽烟"> 抽烟
                <input type="checkbox" v-model="userInfo.hobby" value="喝酒"> 喝酒
                <input type="checkbox" v-model="userInfo.hobby" value="烫头"> 烫头
            </label> <br>
            <label>
                所属地区：
                <select v-model="userInfo.area">
                    <option>请选择地区</option>
                    <option value="北京">北京</option>
                    <option value="上海">上海</option>
                    <option value="江苏">江苏</option>
                </select>
            </label> <br>
            <label>
                其他信息：<textarea v-model="userInfo.other"></textarea>
            </label> <br>
            <label>
                <input type="checkbox" v-model.lazy="userInfo.agree"> 阅读并接收 <a href="#">《用户协议》</a>
            </label> <br>
            <button>注册</button>
        </form>
    </div>

    <script>
        /* 阻止 Vue 在启动时生成生产提示 */
        Vue.config.productionTip = false;

        // 创建 Vue 实例
        const vm = new Vue({
            el: '#root',
            data: {
                userInfo: {
                    account: '', // 账号
                    password: '', // 密码
                    age: '', // 年龄
                    sex: '', // 性别
                    hobby: [], // 爱好
                    area: '', // 所属地区
                    other: '', // 其他信息
                    agree: false // 是否同意用户协议
                }
            },
            methods: {
                register() {
                    console.log(JSON.stringify(this.userInfo));
                }
            }
        });
        console.log(vm);
    </script>
</body>
</html>