/* 网页多个网页相同模块的重复样式，如：头部、底部 */

/* 版心 */
.wrapper {
    margin: 0 auto;
    width: 1240px;
    min-width: 1240px;
}

/* 快捷导航 */
.shortcut {
    height: 52px;
    background-color: #333;

    .wrapper {
        height: 52px;

        .fr {
            li {
                float: left;
                line-height: 52px;

                a {
                    padding: 0 16px;
                    border-right: 1px solid #666;
                    color: #dcdcdc;
                    font-size: 14px;
                }

                &:last-child {
                    a {
                        border-right: 0;

                        i {
                            display: inline-block;
                            margin-right: 8px;
                            width: 11px;
                            height: 16px;
                            background-image: url(../images/sprites.png);
                            background-position: -160px -70px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}

/* 头部 */
.header {
    margin: 30px auto;
    height: 70px;
    // background-color: pink;

    /* logo */
    .logo {
        padding: 0 19px 0 25px;
        width: 251px;
        height: 70px;

        a {
            display: block;
            width: 207px;
            height: 70px;
            background-image: url(../images/logo.png);
            background-size: contain;
            /* 字号设置为 0 ，目的是为了让标签中的文字隐藏 */
            font-size: 0;
        }
    }

    /* 导航栏 */
    .nav {
        margin-left: 18px;
        height: 70px;

        li {
            line-height: 70px;

            a {
                margin-right: 46px;
                padding: 0 1px 8px;

                &:hover {
                    color: #27ba9b;
                    border-bottom: 1px solid #27ba9b;
                }
            }
        }
    }

    /* 搜索 */
    .search {
        position: relative;
        margin: 24px 15px 0 34px;
        width: 172px;
        height: 30px;
        background-color: greenyellow;
        border-bottom: 1px solid #e7e7e7;

        input {
            width: 100%;
            height: 100%;
            padding-left: 29px;

            &::placeholder {
                font-size: 14px;
                color: #ccc;
            }
        }

        i {
            position: absolute;
            left: 0;
            top: 25%;
            display: block;
            width: 18px;
            height: 18px;
            background-image: url(../images/sprites.png);
            background-position: -79px -70px;
        }
    }

    /* 购物车 */
    .car {
        margin: 28px 0 19px 0;
        width: 23px;
        height: 23px;
        background-image: url(../images/sprites.png);
        background-position: -120px -70px;
    }
}