<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>姓名案例--计算属性实现</title>
    <!-- 引入vue https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js -->
    <script src="../js/vue.js"></script>
</head>
<body>

    <!-- 准备好容器 -->
    <div id="root">
        姓：<input type="text" v-model="firstName"> <br>
        名：<input type="text" v-model="lastName"> <br>
        全名：{{fullName}} <br>
        全名：<input type="text" v-model="fullName">
    </div>

    <script>
        /* 阻止 Vue 在启动时生成生产提示 */
        Vue.config.productionTip = false;

        // 创建 Vue 实例
        const vm = new Vue({
            el: '#root',
            data: {
                firstName: '张',
                lastName: '三'
            },
            methods: {},
            computed: {
                fullName: {
                    // 当有人读取 fullName 的时候，get 就会被调用，且返回值就作为 fullName 的值
                    // get 什么时候调用？① 初次读取 fullName 时 ② 所依赖的数据发生变化时
                    get() {
                        console.log('@', 'get被调用了');
                        return this.firstName + '-' + this.lastName;
                    },
                    // set 什么时候调用？当 fullName 被修改的时候，set 就会被调用，
                    set(value) {
                        let [firstName, lastName] = value.split('-');
                        this.firstName = firstName;
                        this.lastName = lastName;
                    }
                }
            }
        });
        console.log(vm);
    </script>
</body>
</html>