* {
    margin: 0;
    padding: 0;
    /* 自动内减 */
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* .clearfix::before 作用：解决外边距塌陷问题 */
.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
}

/* 真正清除浮动的标签 */
.clearfix::after {
    clear: both;
}

body {
    background-color: #f3f5f7;
}

/* 版心 */
.wrapper {
    margin: 0 auto;
    width: 1200px;
}

/* 头部 */
.header {
    /* margin-top: 30px;
    margin-bottom: 30px; */
    margin: 30px auto;
    height: 42px;
    background-color: pink;
}