/* 内容 */
.body {
  display: flex;
  justify-content: center;
  padding: 30px 0 85px;
  background-color: #f6f6f6;

  .wrapper {
    display: flex;

    /* 侧边栏 */

    .aside {
      width: 227px;
      min-height: 500px;
      margin-right: 18px;
      background-color: #fff;
    }

    /* 主体内容 */

    .content {
      flex: 1;
      min-height: 600px;
      /* 用户账户概览 */

      .overview {
        display: flex;
        padding: 20px 0;
        margin-bottom: 10px;
        height: 132px;
        background-color: #fff;

        div {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex: 1;
          text-align: center;
          font-size: 16px;
          color: #333;

          img {
            width: 25px;
            margin-bottom: 10px;
          }

          &:first-child {
            border-right: 1px solid #f4f4f4;
          }

          &:last-child {
            span {
              font-size: 25px;
              color: #e05e30;
            }
          }
        }

      }


    }

  }

}